.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    background-color: #ffc400;
    color: #ffffff;
}

.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*title text*/
#title 
{
    font-size: 80px;
    font-family: "Quantico", sans-serif;
    font-weight: 1500;
    text-align: center;
    font-style: normal;
    color: #000000;
}

/*title2 text*/
#title2 
{
    font-size: 50px;
    font-family: "Quantico", sans-serif;
    font-weight: 750;
    text-align: center;
    margin-bottom: 20px; /* smaller space */
    font-style: normal;
    color: #000000;
}

#registerTitle 
{
    font-size: 60px;
    font-family: "Quantico", sans-serif;
    font-weight: 1500;
    text-align: center;
    font-style: normal;
    color: #000000;
}


/*login box*/
#loginDiv
{
    width: 100%;
    max-width: 600px;
    font-size: 30px;
    padding: 25px;
    place-items: center;
    border-radius: 10px;
    background-color: #0f91c5;
    font-family: "Special Gothic Condensed One", sans-serif;
    box-shadow: 0 0 40px rgba(0,0,0, 0.5);
    text-align: center;
}

/*loggedin boxes*/
#loggedInDiv
{
    width: 100%;
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 50px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    display: block;
    font-size: 30px;
    background: #00b2d1;
    color: #ffffff;
    width: 50%;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 15px, auto;
    font-weight: 650;
    font-family: "Special Gothic Condensed One", sans-serif;
    cursor: pointer;
    transition: 0.5s;
}

.buttons:hover{
    background-color: #fdc200;
    color: #000000;
    opacity: 100%;
}

#loginName
{
	font-size: 40px;
    font-weight: 500;
}
#loginPassword
{
	font-size: 40px;
    font-weight: 500;
}

#searchText
{
    font-weight: 600;
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    display: block;
    border: none;
    outline: none;
    margin: 10px, auto;
    text-align: center;
    width: 80%;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 500;
    background: #eee;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 181, 213, 0.5); /* outer glow */
} 

#inner-title{
    display: block;
    font-size: 35px;
    width: 90%;
    margin: 5px auto;   
    margin-bottom: 30px;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#signUpTitle{
    display: block;
    font-size: 45px;
    width: 90%;
    margin: 5px auto;   
    margin-bottom: 30px;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bold;
    color: #ffffff;
}

#loginResult{
    display: inline-block;
    font-size: 30px;    
    text-align: center;
    font-family: 'Special Gothic Condensed One', sans-serif;
    text-shadow: 2px 2px 15px #ff006a;
    color: #ff627df8;
}

#signUpInfo{
    display: block;
    border: none;
    outline: none;
    margin: 10px, auto;
    text-align: center;
    width: 80%;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 500;
    background: #eee;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 181, 213, 0.5); /* outer glow */
}

#registerFirstName{
    display: block;
    font-size: 35px;
    width: 90%;
    margin: 5px auto;   
    margin-bottom: 30px;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bold;
    color: #585858;
}

#registerLastName{
    display: block;
    font-size: 35px;
    width: 90%;
    margin: 5px auto;   
    margin-bottom: 30px;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bold;
    color: #585858;
}

#registerLogin{
    display: block;
    font-size: 35px;
    width: 90%;
    margin: 5px auto;   
    margin-bottom: 30px;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bold;
    color: #585858;
}

#registerPassword{
    display: block;
    font-size: 35px;
    width: 90%;
    margin: 5px auto;   
    margin-bottom: 30px;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: bold;
    color: #585858;
}

#userName{
    display: inline-block;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    font-family: "Quantico", sans-serif;
    width: 100%;
    text-align: center;
}

#logoutButton{
    width: 20%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color:#ffc400;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
    text-decoration-color: #ffc400;
    color: #ffc400;
}

#contactTable button {
  padding: 4px 10px;
  margin: 2px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #000000
}

#contactTable{
    color:#000000;

}

#contactTitles{
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: "Quantico", sans-serif;
    width: 100%;
    text-align: center;
}

#searchInput{
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: "Quantico", sans-serif;
    width: 20%;
    margin-bottom: 1%;
    text-align: center;
}

#contactForm{
    size: 50px;
}

#contactTable button:hover {
  background-color: #90dcff;
  color: #000;
}

#registerResult{
    display: inline-block;
    font-size: 30px;    
    text-align: center;
    font-family: 'Special Gothic Condensed One', sans-serif;
    text-shadow: 2px 2px 15px #ff006a;
    color: #ff627df8;
    animation-name: fadeIn; /* The name of your keyframe animation */
    animation-duration: 1.1s; /* How long the animation takes */
    animation-timing-function: ease-in; /* The speed curve of the animation */
    animation-fill-mode: forwards; /* Keeps the final state of the animation */


}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
